.forms__section__info {
	color: #2A2A57;
	text-align: center;
	font-size: 2rem;
	text-align: left;
}

.forms__section__forms {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 768px) {
	/* Path: src/components/FormsSection/FormsSection.css */
	.FormsSection {
		align-items: center;
		justify-content: center;
	}
}