.login__form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login__form__input {
	font-family: 'Poppins';
	width: 100%;
	font-size: 1rem;
	padding: 1rem 1rem;
	border-radius: 5px;
	border: 2px solid var(--primary-color);
	color: var(--primary-color);
	font-weight: 500;
	outline: none;
}

.login__form__input:focus {
	border: 3px solid var(--primary-color);
	outline: none;
}

.login__forgot__password {
	align-self: flex-start;
	font-size: 0.7rem;
	margin: 0.5rem 0;
	color: var(--secondary-color);
}

.login__form__button {
	width: 100%;
	padding: 1rem;
	font-size: 1rem;
	background-color: var(--primary-color);
	color: white;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: all 250ms ease;
	margin: 1.3rem 0;
}

.login__form__button:hover {
	transform: scale(1.005);
}

@media (max-width: 750px) {
	.login__form__input {
		font-size: 0.8rem;
	}
}