.back__button {
	display: flex;
	align-items: center;
	justify-content: start;
	text-decoration: none;
	width: fit-content;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding: 0.8rem;
	border-radius: 5px;
	color: white;
	background-color: var(--highlight-color);
	cursor: pointer;
	font-size: 0.8rem;
	transition: transform 0.2s ease-in-out;
}

.back__button:hover {
	transform: scale(1.01);
}