.gallery__button {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	height: 100%;
	border: 3px solid var(--highlight-color);
	border-radius: 5px;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	font-weight: 600;
	background-color: white;
	color: var(--highlight-color);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
}

.gallery__button:hover {
	transform: translateY(-2px);
}

.gallery__button--uncompleted {
	background-color: var(--highlight-color);
	color: white;
}

.gallery__button--uncompleted:hover {
	background-color: white;
	color: var(--highlight-color);
}