.login__title {
	font-size: 1.3rem;
	text-align: center;
}

.login__social__title {
	font-size: 0.8rem;
	font-weight: 600;
	color: #7D7463;
}



@media (max-width: 850px) {
	.login__view.container {
		max-width: 70vw;
	}
}


@media (max-width: 750px) {
	.login__title {
		font-size: 1rem;
	}
}

@media (max-width: 650px) {
	.login__view.container {
		width: 100%;
		max-width: 95vw;
		max-height: none;
	}
}