.login__box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 50vh;
	height: 30vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1rem;
	
	background-color: #5D5CF8;
}

.login__box__title {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
	margin: 0 0 1rem 0;
	font-weight: 600;
}

.login__box__input {
	width: 80%;
	height: 3rem;
	margin-bottom: 1.5rem;
	border-radius: 5px;
	border: 1px solid gray;
	padding: 1rem;
	font-weight: 400;
	text-align: center;
	font-size: 1.2rem;
}

.login__box__btn {
	font-size: 1rem;
	padding: 0.5rem 1rem;
}


@media screen and (max-width: 500px) {
	.login__box {
		width: 80vw;
		height: 50vh;
	}
	
	.login__box__title {
		font-size: 1.5rem;
	}
	
	.login__box__btn {
		font-size: 1rem;
	}
}