.register__title {
	color: var(--highlight-color);
	font-size: 1.5rem;
	font-weight: 800;
	margin: 0;
}

.register__msg {
	font-size: 0.9rem;
	margin: 0;
}

.register__btn {
	display: block;
	width: fit-content;
	text-decoration: none;
	margin-top: 1rem;
	color: white;
	background-color: var(--highlight-color);
	border: none;
	border-radius: 5px;
	padding: 0.8rem;
	font-size: 1.3rem;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.register__btn:hover {
	transform: translateY(-2px);
}