@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--primary-color: #2A2A57;
	--secondary-color: #0B85FF;
	--highlight-color: #E72A6D;
	--link-navbar-color: #39399d;
	--highlight-second-color: #5E5EF5;
}


* {
	box-sizing: border-box;
	font-family: 'Poppins';
}


body {
  font-family: "Poppins", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
	color: var(--primary-color);
  background-color: #FDF5F8;
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	height: 100%;
}

.root {
	position: relative;
	min-height: 100%;
	padding-bottom: 50px;
}

.container {
	margin: 5rem auto;
	border: 1px solid var(--highlight-color);

	width: fit-content;
	min-width: 30vw;
	max-width: 50vw;

	height: fit-content;
	min-height: 40vh;

	border-radius: 5px;
	padding: 1rem 2rem;
}

.container.loading {
	padding: 0;
	border: none;
	margin-top: 10rem;
}

.container.error {
	width: 100vw;
	max-width: none;
	display: flex;
	justify-content: center;
	border: none;
}

.color__pink {
	color: var(--highlight-color);
}

@media (max-width: 850px) {
	.container {
		max-width: 70vw;
	}
}

@media (max-width: 650px) {
	.login__view.container {
		width: 100%;
		max-width: 95vw;
		max-height: none;
	}
}